@import "normalize.less";

@lgrey: #f2f2f2;
@dgrey: #212522;
@mgrey: #3b3a3b;
@dark: #101110;
@textonlight: #212522;

@btngreen: #2fbeaf;

/* LAYOUT */

html {
    background: @lgrey;
}

body {
    font: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: @textonlight;
}

/* TYPO */

a {
    color: @textonlight;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1 {
    margin: 0;
}

h2, .beta {
    margin: 0;
    padding: 40px 0 15px 0;
    line-height: 1;
}

.logo {
    float: left;
    font-size: 50px;
    font-weight: bold;
    color: @textonlight;
    position: relative;
    line-height: 1;
    text-align: left;
    &:after {
        content: '';
        width: 33px;
        height: 33px;
        background: url(../images/sprites/logo.png) left top no-repeat;
        left: -35px;
        top: -5px;
        position: absolute;
    }

}

.sub-line {
    float: right;
    text-align: right;
    font-size: 16px;
    width: 400px;
    margin: 25px 0 0 0;
}

.copy {
    max-width: 510px;
    text-align: center;
    font-size: 13px;
    margin: 0 auto;
}

/* BUTTONS */

.btn {
    display: inline-block;
    background: @btngreen;
    border-radius: 3px;
    padding: 15px 30px;
    colour: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    &:hover {
        text-decoration: none;
        background: darken(@btngreen, 5%);
    }
}

/* FROMS */
form {
    width: 385px;
    margin: 40px auto;
    input,
    textarea {
        margin-bottom: 10px;
        box-sizing: border-box;
        padding: 15px;
        width: 100%;
        border: 1px solid #d0d0d0;
        &::-webkit-input-placeholder {
            color: #dbdcdb;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: #dbdcdb;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
            color: #dbdcdb;
        }

        &:-ms-input-placeholder {
            color: #dbdcdb;
        }

        &[type="submit"] {
            width: 75%;
            border-color: @btngreen;
            color: #fff;
            margin: 10px auto 0 auto;
            display: block;
        }
    }
}

/* LAYOUT */

.block {
    width: 100%;
}

.block-inner {
    max-width: 940px;
    margin: 0 auto;
}

.header {
    text-align: center;
    padding: 30px 0;
    overflow: hidden;
}

.video {
    text-align: center;
}

.dark {
    background: @dark;
}

.dgrey {
    background: @dgrey;
    color: @lgrey;
}

.mgrey {
    background: @mgrey;
}


.lgrey {
    color: @dgrey;
}

/* SECTIONS */

.feature {
    width: 380px;
    text-align: left;
    h2 {
        position: relative;
        &:before {
            content: '';
            width: 57px;
            height: 57px;
            left: -70px;
            top: 5px;
            position: absolute;
        }
    }
    ul {
        padding-left: 0;
    }
}

.feature-left {
    float: left;
    padding-left: 70px;
}

.feature-right {
    float: right;
}

.triple-feature {
    height: 585px;
    background: url(../images/sprites/bg_triple.png) center bottom no-repeat;
    overflow: hidden;
    .feature-item {
        float: left;
        width: 300px;
        margin: 10px 20px 0 0;
        text-align: center;
        &:last-child {
            margin-right: 0;
        }
        p {
            margin-top: 0;
        }
    }
}

.schedule {
    padding-top: 60px;
    .block-inner {
        height: 560px;
        background: url(../images/sprites/bg_schedule.png) left top no-repeat;
    }
    .feature {
        margin-top: 130px;
    }
    h2:before {
        background: url(../images/sprites/icon_schedule.png) left top no-repeat;
    }
}

.recommendations {
    padding-top: 60px;
    .block-inner {
        height: 695px;
        background: url(../images/sprites/bg_recommendations.png) right top no-repeat;
    }
    .feature {
        margin-top: 130px;
    }
    h2:before {
        background: url(../images/sprites/icon_recommendations.png) left top no-repeat;
    }
}

.tickets {
    .block-inner {
        height: 598px;
        background: url(../images/sprites/bg_tickets.png) left top no-repeat;
    }
    .feature {
        margin-top: 130px;
    }
    h2:before {
        background: url(../images/sprites/icon_tickets.png) left top no-repeat;
    }
}
.festivals {
    .block-inner {
        height: 597px;
        background: url(../images/sprites/bg_festivals.png) right top no-repeat;
    }
    .feature {
        margin-top: 130px;
    }
    h2:before {
        background: url(../images/sprites/icon_festivals.png) left top no-repeat;
    }
}
.sub-nav {
    font-size: 11px;
    font-weight: bold;
    padding: 5px 0;
    overflow: hidden;
    a {
        color: @dgrey;
        float: right;
        padding-left: 5px;
    }
}

.about-us {
    text-align: center;
    .us {
        margin: 0;
        padding: 40px 0 0 0;
        overflow: hidden;
        li {
            position: relative;
            box-sizing: border-box;
            list-style: none;
            float: left;
            width: 31.9148%;
            margin: 0 2.1276% 40px 0;
            font-size: 13px;
            &.last {
                margin-right: 0;
            }
            span {
                font-size: 16px;
                font-weight: bold;
                display: block;
            }
            a {
                display: block;
            }
        }
    }
}

.contact-us {
    text-align: center;
}
