<!DOCTYPE html>
<html>
    <head>
        <title>Headline</title>

        <meta charset="utf-8">
        <meta http-equiv="imagetoolbar" content="no">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" media="screen">

        <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39774522-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        </script>
    </head>
    <body>
        <header>
            <div class="block">
                <div class="block-inner">
                    <nav class="sub-nav">
                        <a href="https://twitter.com/headlineapp" class="twitter">Tweet</a>
                        <a href="https://twitter.com/headlineapp" class="facebook">Facebook</a>
                        <a href="https://twitter.com/headlineapp" class="google">Google+</a>
                    </nav>
                </div>
            </div>
            <div class="block header">
                <div class="block-inner">
                    <h1 class="logo">Headline</h1>
                    <p class="sub-line">Headline is a unique festival guide that lets audiences experience and discover festivals in their own way.</p>
                </div>
            </div>
        </header>
        <div class="block lgrey video">
            <div class="block-inner">
                <iframe src="http://player.vimeo.com/video/36820781" width="940" height="528" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="block schedule">
            <div class="block-inner">
                <div class="feature feature-right">
                    <h2>Personal Schedule</h2>
                    <p>Create your own hit list of who to see at what time and where so you'll never miss a set</p>
                    <ul>
                        <li>Add any artists on the festival to your own edit</li>
                        <li>Share your schedule with your friends</li>
                        <li>Get notified when things are about to kick off</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block dgrey recommendations">
            <div class="block-inner">
                <div class="feature feature-left">
                    <h2>Recommendations</h2>
                    <p>Get the most out of festivals by checking out our recommendations based on what you already like</p>
                    <ul>
                        <li>Add something you like and we’ll offer you something new</li>
                        <li>Already like someone? We’ll let you know when they’re on</li>
                        <li>We’ll also show you what’s most popular with your freinds</li>
                        <li>Why not try a similar festival based on what you liked</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="block-inner">
                <div class="triple-feature">
                    <div class="feature-item">
                        <h2>Artisits Profiles</h2>
                        <p>Read up on who's who, delve into a sea of new music or just find an artist you liked with in depth artist profiles</p>
                    </div>
                    <div class="feature-item">
                        <h2>News</h2>
                        <p>Keep up to date with all the latest news, gossip and line ups for every festival</p>
                    </div>
                    <div class="feature-item">
                        <h2>Stage profiles</h2>
                        <p>Got your own stage? Get in with the right crowd with our related stage sponsorship modules</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="block dgrey tickets">
            <div class="block-inner">
                <div class="feature feature-right">
                    <h2>Tickets</h2>
                    <p>Everything you need to get yourself ready for every festival across Europe - alongside your friends</p>
                </div>
            </div>
        </div>
        <div class="block dgrey festivals">
            <div class="block-inner">
                <div class="feature feature-left">
                    <h2>Multiple Festivals</h2>
                    <p>Keep adding festival packs, this is your one stop shop for everything you go to</p>
                </div>
            </div>
        </div>
        <div class="block about-us">
            <div class="block-inner">
                <h2 class="beta">About us</h2>
                <p class="copy">We’re only small - for more information on anyone involved why not follow us on Twitter or get in touch with us via the form below...</p>
                <ul class="us">
                    <li>
                        <img src="/static/images/us-jk.png" alt="" />
                        <span>James Kirkup</span>
                        Co-Founder / Designer
                        <a href="#">Follow</a>
                    </li>
                    <li>
                        <img src="/static/images/us-ms.png" alt="" />
                        <span>Martin Senyszak</span>
                        Co-Founder / Moving Image
                        <a href="#">Follow</a>
                    </li>
                    <li class="last">
                        <img src="/static/images/us-tp.png" alt="" />
                        <span>Tom Parker</span>
                        Co-Founder / Developer
                        <a href="#">Follow</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="block lgrey contact-us">
            <div class="block-inner">
                <h2 class="beta">Get in touch with us</h2>
                <p class="copy">Want to know more about the app, how to get involved, adding your festival or helping us out - send us a message through the form below...</p>
                <form action="POST" method="get" accept-charset="utf-8">
                    <input type="text" name="name" id="name" value="" placeholder="Your name" />
                    <input type="text" name="email" id="email" value="" placeholder="Your email" />
                    <textarea name="message" id="message" rows="8" cols="40" placeholder="Your message"></textarea>
                    <input class="btn" type="submit" name="submit" id="submit" value="Send message" />
                </form>
            </div>
        </div>
    </body>
</html>
