<!DOCTYPE html>
<html>
    <head>
        <title>Headline</title>

        <meta charset="utf-8">
        <meta http-equiv="imagetoolbar" content="no">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" media="screen">

        <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39774522-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        </script>
    </head>
    <body>
        <header>
            <div class="block">
                <div class="block-inner">
                    <nav class="sub-nav">
                        <a href="https://twitter.com/headlineapp" class="twitter">Tweet</a>
                        <a href="https://twitter.com/headlineapp" class="facebook">Facebook</a>
                        <a href="https://twitter.com/headlineapp" class="google">Google+</a>
                    </nav>
                </div>
            </div>
            <div class="block header">
                <div class="block-inner">
                    <h1 class="logo">Headline</h1>
                    <p class="sub-line">Headline is a unique festival guide that lets audiences experience and discover festivals in their own way.</p>
                </div>
            </div>
        </header>
        <div class="block lgrey video">
            <div class="block-inner">
                <iframe src="http://player.vimeo.com/video/36820781" width="940" height="528" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <!--<div class="block dgrey features">-->
            <!--<div class="block-inner">-->
                <!--<h2 class="beta">One home for all your festivals</h2>-->
                <!--<p class="copy">We’ve got a ton of awesome festival features you can start using straight away. Not all of them work with every festival and we’re constantly adding more goodness.</p>-->
                <!--<ul class="feature-list">-->
                    <!--<li><span>Personal schedule</span>Create your own personal schedule of what to see when and where</li>-->
                    <!--<li><span>Personal schedule</span>Create your own personal schedule of what to see when and where</li>-->
                    <!--<li class="last"><span>Personal schedule</span>Create your own personal schedule of what to see when and where</li>-->
                    <!--<li><span>Personal schedule</span>Create your own personal schedule of what to see when and where</li>-->
                    <!--<li><span>Personal schedule</span>Create your own personal schedule of what to see when and where</li>-->
                    <!--<li class="last"><span>Personal schedule</span>Create your own personal schedule of what to see when and where</li>-->
                    <!--<li><span>Personal schedule</span>Create your own personal schedule of what to see when and where</li>-->
                    <!--<li><span>Personal schedule</span>Create your own personal schedule of what to see when and where</li>-->
                    <!--<li class="last"><span>Personal schedule</span>Create your own personal schedule of what to see when and where</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="block mgrey festivals">-->
            <!--<div class="block-inner">-->
                <!--<h2 class="beta">Festival packs</h2>-->
                <!--<p class="copy">We’re trying to add as many festivals as we can - but for now - we’re starting off with our favourites and one’s we’re already in contact with.</p>-->
                <!--<ul class="festival-packs">-->
                    <!--<li>-->
                    <!--<img src="/static/images/sonar.jpg" alt="Sonar" />-->
                    <!--<span>Sónar</span>-->
                    <!--Barcelona-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<img src="/static/images/sonar.jpg" alt="Sonar" />-->
                    <!--<span>Sónar</span>-->
                    <!--Barcelona-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<img src="/static/images/sonar.jpg" alt="Sonar" />-->
                    <!--<span>Sónar</span>-->
                    <!--Barcelona-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<img src="/static/images/sonar.jpg" alt="Sonar" />-->
                    <!--<span>Sónar</span>-->
                    <!--Barcelona-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<img src="/static/images/sonar.jpg" alt="Sonar" />-->
                    <!--<span>Sónar</span>-->
                    <!--Barcelona-->
                    <!--</li>-->
                    <!--<li class="last">-->
                    <!--<img src="/static/images/sonar.jpg" alt="Sonar" />-->
                    <!--<span>Sónar</span>-->
                    <!--Barcelona-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<p><a href="#" class="btn">Add your festival</a></p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="block lgrey slideshow">-->
            <!--<div class="block-inner">-->

            <!--</div>-->
            <!--<img src="/static/images/slideshow1.jpg" alt="" />-->
        <!--</div>-->
        <!--<div class="block dgrey about-us">-->
            <!--<div class="block-inner">-->
                <!--<h2 class="beta">About us</h2>-->
                <!--<p class="copy">We’re only small - for more information on anyone involved why not follow us on Twitter or get in touch with us via the form below...</p>-->
                <!--<ul class="us">-->
                    <!--<li>-->
                        <!--<img src="/static/images/us-jk.png" alt="" />-->
                        <!--<span>James Kirkup</span>-->
                        <!--Co-Founder / Designer-->
                        <!--<a href="#">Follow</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<img src="/static/images/us-jk.png" alt="" />-->
                        <!--<span>James Kirkup</span>-->
                        <!--Co-Founder / Designer-->
                        <!--<a href="#">Follow</a>-->
                    <!--</li>-->
                    <!--<li class="last">-->
                        <!--<img src="/static/images/us-jk.png" alt="" />-->
                        <!--<span>James Kirkup</span>-->
                        <!--Co-Founder / Designer-->
                        <!--<a href="#">Follow</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="block lgrey contact-us">-->
            <!--<div class="block-inner">-->
                <!--<h2 class="beta">Get in touch with us</h2>-->
                <!--<p class="copy">Want to know more about the app, how to get involved, adding your festival or helping us out - send us a message through the form below...</p>-->
                <!--<form action="POST" method="get" accept-charset="utf-8">-->
                    <!--<input type="text" name="name" id="name" value="" placeholder="Your name" />-->
                    <!--<input type="text" name="email" id="email" value="" placeholder="Your email" />-->
                    <!--<textarea name="message" id="message" rows="8" cols="40" placeholder="Your message"></textarea>-->
                    <!--<input class="btn" type="submit" name="submit" id="submit" value="Send message" />-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="block dgrey footer">-->
            <!--<div class="block-inner">-->
                <!--<div class="social">-->
                    <!--<p>Find us here</p>-->
                    <!--<ul>-->
                        <!--<li><a href="#" class="social-link facebook">facebook</a> </li>-->
                        <!--<li><a href="#" class="social-link twitter">twitter</a> </li>-->
                        <!--<li><a href="#" class="social-link googleplus">googleplus</a> </li>-->
                        <!--<li><a href="#" class="social-link pinterest">pinterest</a> </li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="newsletter">-->
                    <!--<p>Sign up to our newsletter</p>-->
                    <!--<form action="" method="get" accept-charset="utf-8">-->
                        <!--<input type="text" name="email" id="email" value="" placeholder="Email Address" />-->
                        <!--<span>Submit</span>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </body>
</html>
